{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/jsx-uses-react": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/require-default-props": "off",
    "linebreak-style": "off",
    "eol-last": "off",
    "comma-dangle": "off",
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "import/no-unresolved": "off",
    "import/no-dynamic-require": "off",
    "global-require": "off"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "document": false
  }
}
